@font-face {
    font-family: 'helvetica';
    src: url(../static/HelveticaNeue-UltraLigExt.otf);
}

html {
  width: 100%;
  height: 100%;
  font-family: 'helvetica';
}

body {
  width: 100%;
  height: 100%;
  background-color: #10A0FF;
  margin: 0;
}

.title-container {
  width: 100%;
  height: 200px;
  background-color: rgba(32, 32, 64, .5);
}

.title {
  color: white;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  color: white;
  font-size: 30px;
  text-align:center;
}

.upload-title {
  text-align: center;
  font-size: 60px;
}

.form-container {
	margin: 0 auto 0 auto;
	width: 100px;
}

.custom-input {
	color: transparent;
}
.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-input::before {
  content: 'Choose File';
  display: inline-block;
  background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
  color: black;
  margin: 0 auto 0 auto;
}
.custom-input:hover::before {
  border-color: black;
}
.custom-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-button {
  content: 'Submit';
  display: inline-block;
  background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
  color: black;
  margin: 0 auto 0 auto;
  margin: 15px;
}

.node-container {
  padding-top: 50px;
  width: 0px;
  height: 500px;
  margin: 0 auto 0 auto;
}

.node {
  margin: 0px 0px 0px 0px;
  float: left;
  width: 250px;
  height: 200px;
}

.line {
	height: 8px;
	width: 40px;
	position: relative;
	top: 75px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.right {
	float:right;
}

.left {
	float:left;
}

.dot {
	height: 8px;
	width: 8px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
}

.node-status {
  width: 160px;
  height: 160px;
  margin-left: 45px;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.node-file, .node-file a {
  color: black;
  width: 100%;
  text-align: center;
  padding-top: 70px;
}

.node-title {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 20px;
}

.waiting {
	background: -webkit-radial-gradient(#FF8080, #FF3010);
	background: -o-radial-gradient(#FF8080, #FF3010);
	background: -moz-radial-gradient(#FF8080, #FF3010);
	background: radial-gradient(#FF8080, #FF3010);
}

.downloading {
	background: -webkit-radial-gradient(#8080FF, #1030FF);
	background: -o-radial-gradient(#8080FF, #1030FF);
	background: -moz-radial-gradient(#8080FF, #1030FF);
	background: radial-gradient(#8080FF, #1030FF);
}

.broadcasting {
	background: -webkit-radial-gradient(#80FF80, #30EE10);
	background: -o-radial-gradient(#80FF80, #30EE10);
	background: -moz-radial-gradient(#80FF80, #30EE10);
	background: radial-gradient(#80FF80, #30EE10);
}

.deleting {
  background-color: black;
}

.deleted {
  background-color: rgba(0, 0, 0, 0.1);
}