<!doctype html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>


  <body>

    <div class = "title-container">
      <div class = "title">
        polly
      </div>

      <div class = "subtitle">
        blast data without a trace
      </div>
    </div>

    <div class = "node-container">

    </div>

  </body>

  <script src="/static/functions.js"></script>
  <script src="/static/dashboard.js"></script>

</html>
