<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/custom.css">
		<title>Upload new File</title>
	</head>
	<body>
		 <div class = "title-container">
			<div class = "title">
				polly
			</div>

			<div class = "subtitle">
				blast data without a trace
			</div>
		</div>
		<div class = "upload-title">Upload new File</div>
		<div class = "form-container">
			<form method="post" action="/upload" enctype="multipart/form-data">
				<div class="upload-file-container">
				   <input type="file" name="file" class="custom-input" />
				</div>
				<input type=submit value=Upload class="custom-button" />
			</form>
		</div>
	</body>
</html>
